<!-- <ion-header>
    <ion-toolbar color="dark" class="ion-padding ion-text-center">
        <ion-title>
            Iniciar sesión
        </ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding ion-text-center">
    <img class="icon" src="assets/icon/cafe-lab.png" alt="">
    <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" (click)="login()">Entrar</ion-button>
</ion-content>

<!-- <ion-content class="login-content" padding>
    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
            <img src="assets/icon/cafe-lab.png" />
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
    <div class="login-box">
        <form (ngSubmit)="login()" #registerForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>

                        <ion-item>
                            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="user" required></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="pass" required></ion-input>
                        </ion-item>

                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
                    <button ion-button class="register-btn" block clear (click)="login()">Create New Account</button>
                </ion-col>
            </ion-row>

        </form>
    </div>
</ion-content> -->

<!-- <ion-content padding class="vertical-center">
    <ion-list>
        <ion-item padding>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="username" type="text" style="background-color:transparent"></ion-input>
        </ion-item>
        <ion-item padding>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="pass" type="password"></ion-input>
        </ion-item>

        <button padding (click)="login()" color=secondary ion-button full round>Login</button>

        <a (click)="login()">New ? Register here</a>
    </ion-list>
</ion-content> -->