ion-content {
    // --background: #fff url('../../assets/img/bg/bg-01.jpg') no-repeat center center / cover;
    // --ion-background-color: #695730;
    --background: #ffffff url('../../../assets/img/bg/bg-01.jpg') no-repeat center center / cover;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

// ion-input {
//     background: rgba(var(--ion-color-danger-rgb), 0);
//     color: var(--ion-color-light-contrast);
//     margin-bottom: 16px;
//     height: 50px;
//     border-radius: var(--radius);
//     padding-left: 16px;
// }
// ion-item {
//     background: rgba(var(--ion-color-danger-rgb), 1);
// }
// .item .item-input {
//     background-color: transparent;
// }
// ion-input,
// ion-button {
//     max-width: var(--content-max-width) !important;
//     margin: 0 auto 16px auto !important;
// }