<ion-header translucent>
    <ion-toolbar>
        <ion-title class="ion-text-center">Selección de local</ion-title>
        <button ion-item (click)="logout()">
            <ion-icon item-left color="primary" name="log-out"></ion-icon>
               Desconectarse
            </button>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-grid style="height: 100%">
        <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%">
            <ion-col size="4" *ngFor="let item of itemsLocales">
                <div>
                    <ion-card>
                        <ion-item href="#" class="activated">
                            <ion-icon name="wifi" slot="start"></ion-icon>
                            <ion-label class="ion-text-center">{{item}}</ion-label>
                        </ion-item>
                        <!-- <ion-card-header>
                            <ion-card-title>{{item}}</ion-card-title>
                        </ion-card-header> -->
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!-- <ion-card>
    <ion-item href="#" class="activated">
        <ion-icon name="wifi" slot="start"></ion-icon>
        <ion-label>Card Link Item 1 .activated</ion-label>
    </ion-item>

</ion-card> -->

</ion-content>